In [32]:
import requests

url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_161224.txt"

r = requests.get(url)
with open('Dec242016.csv', 'w') as file:
    file.write(r.text)

In [33]:
import pandas as pd

data = 'https://raw.githubusercontent.com/msnyd/turnstiles/main/Dec242016.csv'

df = pd.read_csv(data)

In [34]:
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,03:00:00,REGULAR,5967477,2022101
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,07:00:00,REGULAR,5967485,2022116
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,11:00:00,REGULAR,5967553,2022233
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,15:00:00,REGULAR,5967790,2022331
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,19:00:00,REGULAR,5968186,2022421
...,...,...,...,...,...,...,...,...,...,...,...
192062,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2016,04:00:00,REGULAR,5554,283
192063,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2016,08:00:00,REGULAR,5554,283
192064,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2016,12:00:00,REGULAR,5554,283
192065,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2016,16:00:00,REGULAR,5554,283
192066,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2016,20:00:00,REGULAR,5554,283

In [35]:
df.sort_values(by='ENTRIES', ascending=False).head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
120624,R116,R030,00-00-02,CHAMBERS ST,123,IRT,12/23/2016,23:00:00,REGULAR,2114941863,1712043670
120623,R116,R030,00-00-02,CHAMBERS ST,123,IRT,12/23/2016,19:00:00,REGULAR,2114941768,1712043602
120622,R116,R030,00-00-02,CHAMBERS ST,123,IRT,12/23/2016,15:00:00,REGULAR,2114941377,1712043429
120621,R116,R030,00-00-02,CHAMBERS ST,123,IRT,12/23/2016,11:00:00,REGULAR,2114941135,1712043194
120620,R116,R030,00-00-02,CHAMBERS ST,123,IRT,12/23/2016,07:00:00,REGULAR,2114941041,1712042881

In [36]:
df['STATION'].nunique()

369

In [37]:
df['TOTAL_VISITS'] = df['ENTRIES'] + df['EXITS']

In [38]:
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,TOTAL_VISITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,03:00:00,REGULAR,5967477,2022101,7989578
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,07:00:00,REGULAR,5967485,2022116,7989601
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,11:00:00,REGULAR,5967553,2022233,7989786
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,15:00:00,REGULAR,5967790,2022331,7990121
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/17/2016,19:00:00,REGULAR,5968186,2022421,7990607
...,...,...,...,...,...,...,...,...,...,...,...,...
192062,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2016,04:00:00,REGULAR,5554,283,5837
192063,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2016,08:00:00,REGULAR,5554,283,5837
192064,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2016,12:00:00,REGULAR,5554,283,5837
192065,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2016,16:00:00,REGULAR,5554,283,5837
192066,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2016,20:00:00,REGULAR,5554,283,5837

In [39]:
# import requests

# url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_120107.txt"

# r = requests.get(url)
# with open('Jan072012.csv', 'w') as file:
#     file.write(r.text)

# Files before mid October 2014 don't give me a station so I'm just making a graph from the first question: Dec 24, 2016

In [40]:
df.sort_values(by='ENTRIES', ascending=False).head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,TOTAL_VISITS
120624,R116,R030,00-00-02,CHAMBERS ST,123,IRT,12/23/2016,23:00:00,REGULAR,2114941863,1712043670,3826985533
120623,R116,R030,00-00-02,CHAMBERS ST,123,IRT,12/23/2016,19:00:00,REGULAR,2114941768,1712043602,3826985370
120622,R116,R030,00-00-02,CHAMBERS ST,123,IRT,12/23/2016,15:00:00,REGULAR,2114941377,1712043429,3826984806
120621,R116,R030,00-00-02,CHAMBERS ST,123,IRT,12/23/2016,11:00:00,REGULAR,2114941135,1712043194,3826984329
120620,R116,R030,00-00-02,CHAMBERS ST,123,IRT,12/23/2016,07:00:00,REGULAR,2114941041,1712042881,3826983922

In [41]:
df = df.groupby(["STATION"]).max()

In [42]:
df

,C/A,UNIT,SCP,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,TOTAL_VISITS
STATION,,,,,,,,,,,
1 AV,H008,R248,01-00-04,L,BMT,12/23/2016,23:00:00,REGULAR,953280807,997476480,1950757287
103 ST,R252,R314,00-03-02,BC,IRT,12/23/2016,20:00:00,REGULAR,34520875,504112690,538633565
103 ST-CORONA,R529,R208,00-06-01,7,IRT,12/23/2016,23:00:00,REGULAR,14179440,22448970,36628410
104 ST,N137,R354,00-06-01,JZ,IND,12/23/2016,23:00:00,REGULAR,2026052624,1907580672,3028648753
110 ST,R254,R181,01-00-02,6,IRT,12/23/2016,23:00:00,REGULAR,12200097,10561808,16183874
...,...,...,...,...,...,...,...,...,...,...,...
WOODHAVEN BLVD,N329A,R201,01-06-01,MR,IND,12/23/2016,23:00:00,REGULAR,67108864,50331664,117440528
WOODLAWN,R294,R052,00-00-04,4,IRT,12/23/2016,23:00:00,REGULAR,6945536,6110626,12793250
WORLD TRADE CTR,N094,R029,01-06-04,ACE23,IND,12/23/2016,23:00:00,REGULAR,8766350,6306717,15073067
YORK ST,N530,R301,00-00-02,F,IND,12/23/2016,20:00:00,REGULAR,12580764,22816023,35069704
ZEREGA AV,R419,R326,00-05-01,6,IRT,12/23/2016,20:00:00,REGULAR,53123672,611940,53735612

In [43]:
df = df.sort_values(by='TOTAL_VISITS', ascending=True).head(5)

In [44]:
df

,C/A,UNIT,SCP,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,TOTAL_VISITS
STATION,,,,,,,,,,,
JFK JAMAICA CT1,JFK03,R536,00-03-04,E,IND,12/23/2016,20:00:00,REGULAR,110676,116204,219292
NEWARK C,PTH19,R549,02-02-04,1,PTH,12/23/2016,23:59:15,REGULAR,427512,167115,454624
LACKAWANNA,PTH16,R550,01-02-04,1,PTH,12/23/2016,23:59:49,REGULAR,379560,592509,829895
BROAD CHANNEL,N183,R415,00-00-02,AS,IND,12/23/2016,20:00:00,REGULAR,928422,482169,1148771
NEWARK HW BMEBE,PTH01,R549,00-01-06,1,PTH,12/23/2016,23:59:23,REGULAR,657540,1168825,1171564

In [50]:
df1 = pd.DataFrame({
    'STATION': ['JFK JAMAICA CT1', 'NEWARK C', 'LACKAWANNA', 'BROAD CHANNEL', 'NEWARK HW BMEBE'],
    'TOTAL_VISITS': [219292, 454624, 829895, 1148771, 1171564]
})

# Remaking the Pandas Dataframe because the GROUP BY function used the Station column as its index
df1

           STATION  TOTAL_VISITS
0  JFK JAMAICA CT1        219292
1         NEWARK C        454624
2       LACKAWANNA        829895
3    BROAD CHANNEL       1148771
4  NEWARK HW BMEBE       1171564

In [51]:
df1.dtypes

STATION         object
TOTAL_VISITS     int64
dtype: object

In [52]:
import plotly.express as px
import plotly

In [54]:
fig1 = px.bar(
    df1,
    title = 'Least Used Stations',
    x='STATION', 
    y='TOTAL_VISITS', 
    hover_name = 'TOTAL_VISITS', 
    color='TOTAL_VISITS',
)

In [55]:
fig1 
'''
WORK CAN BE SEEN AT MY GITHUB: 

https://github.com/msnyd/turnstiles
'''