In [42]:
import requests

url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_161224.txt"

r = requests.get(url)
with open('Dec242016.csv', 'w') as file:
    file.write(r.text)

In [40]:
import pandas as pd

data = r'C:\Users\Matt\Desktop\turnstiles\turnstiles.csv'

df = pd.read_csv(data)

In [22]:
df

              STATION  ENTRIES    EXITS  TOTAL VISITORS
0               59 ST  5967477  2022101         7989578
1               59 ST  5967485  2022116         7989601
2               59 ST  5967553  2022233         7989786
3               59 ST  5967790  2022331         7990121
4               59 ST  5968186  2022421         7990607
...               ...      ...      ...             ...
192062  RIT-ROOSEVELT     5554      283            5837
192063  RIT-ROOSEVELT     5554      283            5837
192064  RIT-ROOSEVELT     5554      283            5837
192065  RIT-ROOSEVELT     5554      283            5837
192066  RIT-ROOSEVELT     5554      283            5837

[192067 rows x 4 columns]

In [23]:
df['ENTRIES'].max()

2114941863

In [24]:
df['STATION'].nunique()

369

In [25]:
# import requests

# url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_120107.txt"

# r = requests.get(url)
# with open('Jan072012.csv', 'w') as file:
#     file.write(r.text)

# Files before mid October 2014 don't give me a station so I'm just making a graph from the first question: Dec 24, 2016

In [26]:
data = r'C:\Users\Matt\Desktop\turnstiles\turnstiles.csv'

df = pd.read_csv(data)

In [27]:
df

              STATION  ENTRIES    EXITS  TOTAL VISITORS
0               59 ST  5967477  2022101         7989578
1               59 ST  5967485  2022116         7989601
2               59 ST  5967553  2022233         7989786
3               59 ST  5967790  2022331         7990121
4               59 ST  5968186  2022421         7990607
...               ...      ...      ...             ...
192062  RIT-ROOSEVELT     5554      283            5837
192063  RIT-ROOSEVELT     5554      283            5837
192064  RIT-ROOSEVELT     5554      283            5837
192065  RIT-ROOSEVELT     5554      283            5837
192066  RIT-ROOSEVELT     5554      283            5837

[192067 rows x 4 columns]

In [28]:
df.sort_values(by='ENTRIES', ascending=False).head(5)

            STATION     ENTRIES       EXITS  TOTAL VISITORS
120624  CHAMBERS ST  2114941863  1712043670      3826985533
120623  CHAMBERS ST  2114941768  1712043602      3826985370
120622  CHAMBERS ST  2114941377  1712043429      3826984806
120621  CHAMBERS ST  2114941135  1712043194      3826984329
120620  CHAMBERS ST  2114941041  1712042881      3826983922

In [29]:
df = df.drop(columns=["ENTRIES", "EXITS"])

In [30]:
df = df.groupby(["STATION"]).max()

In [31]:
df

                 TOTAL VISITORS
STATION
1 AV                 1950757287
103 ST                538633565
103 ST-CORONA          36628410
104 ST               3028648753
110 ST                 16183874
...                         ...
WOODHAVEN BLVD        117440528
WOODLAWN               12793250
WORLD TRADE CTR        15073067
YORK ST                35069704
ZEREGA AV              53735612

[369 rows x 1 columns]

In [32]:
df

                 TOTAL VISITORS
STATION
1 AV                 1950757287
103 ST                538633565
103 ST-CORONA          36628410
104 ST               3028648753
110 ST                 16183874
...                         ...
WOODHAVEN BLVD        117440528
WOODLAWN               12793250
WORLD TRADE CTR        15073067
YORK ST                35069704
ZEREGA AV              53735612

[369 rows x 1 columns]

In [33]:
df = df.sort_values(by='TOTAL VISITORS', ascending=True).head(5)

In [34]:
df

                 TOTAL VISITORS
STATION
JFK JAMAICA CT1          219292
NEWARK C                 454624
LACKAWANNA               829895
BROAD CHANNEL           1148771
NEWARK HW BMEBE         1171564

In [35]:
df1 = pd.DataFrame({
    'STATION': ['JFK JAMAICA CT1', 'NEWARK C', 'LACKAWANNA', 'BROAD CHANNEL', 'NEWARK HW BMEBE'],
    'TOTAL VISITORS': [219292, 454624, 829895, 1148771, 1171564]
})

# Remaking the Pandas Dataframe because the GROUP BY function used the Station column as its index
df1

           STATION  TOTAL VISITORS
0  JFK JAMAICA CT1          219292
1         NEWARK C          454624
2       LACKAWANNA          829895
3    BROAD CHANNEL         1148771
4  NEWARK HW BMEBE         1171564

In [36]:
df1.dtypes

STATION           object
TOTAL VISITORS     int64
dtype: object

In [37]:
import plotly.express as px
import plotly

In [38]:
fig1 = px.bar(
    df1,
    title = 'Least Used Stations',
    x='STATION', 
    y='TOTAL VISITORS', 
    hover_name = 'TOTAL VISITORS', 
    color='STATION',
)

In [39]:
fig1